.Logo {
    display: grid;
    background-color: #EEEEEE;
    justify-content: center;

}

body {
    background-color: #000000;
    margin-left: 3cm;
    margin-right: 3cm;
}

.Titulo {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    font-size: 30px;
}

.Intro{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}

.Servicios{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}