.Logo {
    display: grid;
    background-color: #EEEEEE;
    justify-content: center;

}

body {
    background-color: black;
    margin-left: 1cm;
    margin-right: 2cm;
}


.Intro {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}



.Titulogaleria {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}

.Servicios {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}


body section {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(img/marina\ 1.jpg);
    width: 100%;
    height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    /*para que cubra todo la imagen*/
    background-position: center center;

}


.pagservicios {
    background-image: url(img/marina\ 1.jpg);
    width: 100%;
    height: 15rem;
    background-repeat: no-repeat;
    background-size: cover;
    /*para que cubra todo la imagen*/

}

.paggaleria {
    background-image: url(img/marina\ 1.jpg);
    width: 100%;
    height: 15rem;
    background-repeat: no-repeat;
    background-size: cover;
    /*para que cubra todo la imagen*/
}

.pagcontacto {
    background-image: url(img/marina\ 1.jpg);
    width: 100%;
    height: 26rem;
    background-repeat: no-repeat;
    background-size: cover;
    /*para que cubra todo la imagen*/
}


.boton--principal {
    background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
    background-color: #ededed;
    border-radius: 15px;
    border: 1px solid #d6bcd6;
    display: inline-block;
    cursor: pointer;
    color: #6b6b6b;
    font-family: Arial;
    font-size: 17px;
    padding: 7px 25px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #e1e2ed;
}


.barra {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;

}

li.lista-servicios {
    float: left;
    text-decoration: none;
    list-style-type: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active {
    background-color: #4d4d4d;
}

li a:hover {
    background-color: #111;
}

.titulocontacto1 {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: auto;
    margin-left: auto;
}


.titulocontacto {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align:center;
}

.boton--formulario {
    background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
    background-color: #ededed;
    border-radius: 15px;
    border: 1px solid #d6bcd6;
    cursor: pointer;
    color: #6b6b6b;
    font-family: Arial;
    font-size: 17px;
    padding: 7px 25px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #e1e2ed;
}

.Formulario {
    display: grid;
    justify-content: center;
}


.piedepagina {
    width: 100%;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.piedepagina .grupo1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.piedepagina .grupo1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.piedepagina .grupo1 .box figure img {
    width: 120px;
}

.piedepagina .grupo1 .box h2 {
    color: white;
    margin-bottom: 25px;
    font-size: 18px;
}

.piedepagina .grupo1 .box p {
    color: #efefef;
    margin-bottom: 10px;
}


.piedepagina .grupo1 .redsocial a {
    display: inline-block;
    text-decoration: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: white;
    margin-right: 10px;
    background-color: #4d4d4d;
    text-align: center;
    transition: all 300ms ease;
}

.piedepagina .grupo1 .redsocial a:hover {
    color: black;
}

.piedepagina .grupo2 {
    background-color: #0f0f0f;
    padding: 15px 10px;
    text-align: center;
    color: white;

}

.piedepagina .grupo2 small {
    font-size: 15px;
}

@media screen and (max-width: 800px) {
    .piedepagina .grupo1 {
        width: 10%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}




img {
    width: 100%;
}

.row {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
}
.columna {
    flex:15%;
    padding: 10px;
    
}

.columna img {
    margin-top: 10px;
}

@media (max-width: 500px) {
    .columna {
        flex: 25%;
    }

}



@media (max-width: 600px) {
    .columna {
        flex: 80%;
    }

}

.hola {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
}



.hola {
    display: inline-block;
    margin: 0 0.6rem;
  
    animation: bounce; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
    animation-iteration-count: infinite;
  }



  .Ubicacion {
    font-family: Arial, Helvetica, sans-serif;
    color: white;

  }
