.Logo {
    display: grid;
    background-color: #EEEEEE;
    justify-content: center;

}

body {
    background-color: #EEEEEE;
    margin-left: 3cm;
    margin-right: 3cm;
}

.Titulo {
    font-family: Arial, Helvetica, sans-serif

}
.SiQuiero {
    border-radius: 15px;
}